* {
  box-sizing: border-box;
}

body {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(217,247,216,1) 100%);
}

h1 {
  font-family: monospace;
  font-size: 45px;
  margin-bottom: 0px;
}

.intro-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.button-container {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  justify-content: center;
  gap: 50px;
}

.button-container > button {
  border-radius: 10px;
  overflow: hidden;
}

.button-container > button:hover {
  cursor: pointer;
  background-color: lavender;
}

.button-container > button:active {
  background: darkblue;
  color: lightblue;
}

.question-container {
  display: grid;
  text-align: center;
}

hr {
  margin-top: 20px;
  width: 70%;
}

.answers-div {
  display: grid;
  text-align: center;
}

.check-button {
  border: 2px solid black;
  margin-top: 5px;
  height: 40px;
  width: 300px;
  font-size: 20px;
  background: lightskyblue
}

.check-button:active {
  background: darkblue;
  color: lightblue;
}